<!DOCTYPE html>

<html>
	<head>
		<title>About Aling Nena</title>

		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="MyStyle.css">
	</head>

	<body>
		<!--Start of Nav bar-->
		<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/">Aling Nena</a><!-- this is where you set the navigation title -->
	        </div>
	        <div class="collapse navbar-collapse"><!-- collapse allows for this navbar to be used in mobile devices -->
	          <ul class="nav navbar-nav"><!-- this is the list of navigation options in your navbar -->
	         
	            <li class="active"><a href="/about">About</a></li>
	            <li><a href="/products">Products</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>
	    <!--End of Nav bar-->
	    <br/><br/><br/>
	    <div class="container">
      		<div class="row">
       			<div class="col-md-4"><center><h1>Aling Nena's 1st Store</h1></center><img src="Store.jpg"></div>
       			<br/>

       			<div class="col-md-4">
       				<h1><center>Background</center></h1>
       				<br/>
       				<p class="text-info">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aling Nena's Sari-sari store beginnings started in the early 1980's. After receiving a big inheritance from her parents she decided to put up her own business. Nenas Nenengs, a UP graduate - became fond of serving food to people. Because of this hobby, she decided to put up her own stall. As time progressed her stall became very popular quickly growing into a large sari-sari store. Until this day Aling Nena's store remains to be a famous sari-sari store in the Philippines.<br>

       				Nenas Nenengs has been very successful in her business that she has expanded it to over 100 branches in the Metro Manila. She has truly inspired many Filipinos is starting their own business because of how successful she has become.</p>
       			</div>

       			<div class="col-md-4">
       				<h1><center>Nena Neneng</center></h1>
       				<div class="container1">
       				<center><img src="Nena.jpg"></center>
       				</div>
       				<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
       			</div>

       		</div>
    	</div>

	</body>
</html>