<!DOCTYPE html>

<html>
	<head>
		<title>OOPS!!! You might have done something wrong, try again!</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	</head>

	<body>
		<!--Start of Nav bar-->
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Aling Nena</a>
                </div>
            </div>
        </div>
	    <!--End of Nav bar-->

		<br/><br/><br/>

		<center>
		<h1>We weren't able to get that!</h1>
		<br/>
		<h3>Check the following:</h3>

			<p>- We don't have anymore of what you want</p>
			<p>- Quantity inputted is larger than the current stock</p>
			<p>- Money entered isn't enough to pay for your transaction</p>
			<p>- You might have entered a wrong value or key, check again</p>
		<br/>
		<a href ="/products" button type="submit" class="btn btn-default btn-primary">Back to products page</a>
		</button><a href ="/" button type="submit" class="btn btn-default btn-success">Back to home page</a></button>
		</center>
	</body>

</html>